
.hide {
    display: none;
}
.show {
    display: block;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
 .sWap {
    margin-top: -1px;
    position: relative;
    width: 600px;
    z-index: 301;
	color: #333333;
    font: 12px/1.5 宋体,arial,sans-serif;
    text-align: left;
}
 .sWap em, i {
    font-style: normal;
}
 .sWap a {
    color: #333333;
    outline: medium none;
    text-decoration: none;
}
 .sWap a:hover {
    color: #0055AA;
    text-decoration: underline;
}
 .param {
    border-bottom: 1px dashed #D1D1D1;
    line-height: 18px;
    margin: 0 10px;
    padding: 7px 0 2px;
    width: 580px;
}
 .param span {
    color: #777777;
    float: left;
    height: 18px;
    overflow: hidden;
    text-align: right;
    width: 60px;
}
 .param em.all {
    float: left;
    overflow: hidden;
    width: 43px;
}
 .param em.all a {
    color: #333333;
    float: left;
    height: 18px;
    text-align: center;
    width: 30px;
}
 .param em.all a:hover {
    background-color: #FEE8DA;
    color: #0055AA;
    text-decoration: none;
}
 .param em.cur a {
    background: none repeat scroll 0 0 #0055AA;
    color: #FFFFFF;
}
 .param em.cur a:hover {
    background: none repeat scroll 0 0 #0055AA;
    color: #FFFFFF;
}
 .param dl {
	margin: 0;
    padding: 0;
    float: left;
    width: 430px;
}
 .param dd.less {
	margin: 0;
    padding: 0;
    height: 24px;
    overflow: hidden;
}
 .param dd i {
    float: left;
    height: 24px;
    white-space: nowrap;
}
 .param dd i .intel {
    color: #CC0000;
}
 .param dd i a {
    color: #333333;
    float: left;
    height: 18px;
    margin-right: 18px;
    padding: 1px 3px 0;
}
 .param dd i a:hover {
    background-color: #E4F2FD;
    color: #0055AA;
    text-decoration: none;
}
 .param dd i a.cur,  .param dd i a.cur:hover {
    background-color: #0055AA;
    color: #FFFFFF;
    position: relative;
}
 .param .moreitem {
    background: url("../images/more.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    margin-top: -18px;
    padding-left: 12px;
    width: 2px;
	height:14px;
}
 .param .lessitem {
    background: url("../images/less.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    margin-top: -18px;
    padding-left: 12px;
    width: 2px;
	height:14px;
}
 